<p>
  <b><%= t('commenter') %>:</b>
  <%= comment.commenter %>
</p>

<p>
  <b><%= t('comment'):</b>
  <%= comment.body %>
</p>

<p>
  <%= link_to t('destroy_comment'), [comment.post, comment],
              :confirm => t('confirm'),
              :method  => :delete %>
</p>
