<p>
  <b><%= t('blog.post.comment.commenter') %>:</b>
  <%= comment.commenter %>
</p>

<p>
  <b><%= require('active_support'); t('blog.post.comments').singularize %>:</b>
  <%= comment.body %>
</p>

<p>
  <%= link_to t('blog.post.comment.destroy'), [comment.post, comment],
              :confirm => t('confirm'),
              :method  => :delete %>
</p>
