<div class="blogbar">
  <%= link_to t('new_post'), new_post_path %> |
  <%= link_to t('home'), "/" %>  :||
</div>

<h1>Weblog</h1>

<% @posts.each do |post| %>
<div class="entry_container">
  <h2 class="entry_title"><%= link_to post.title, post %></h2>
  <div class="entry_content">
    <%= post.content %>
  </div>
  <div class="entry_footer">
    <%= post.name %> |
    <%= link_to t('edit'), edit_post_path(post) %> |
    <%= link_to t('destroy'), post, method: :delete, data: { confirm: t('confirm') } %>
  </div>
</div>
<% end %>
