<p id="notice"><%= notice %></p>

<p>
  <b><%= t('blog.post.name') %>:</b>
  <%= @post.name %>
</p>

<p>
  <b><%= t('blog.post.title') %>:</b>
  <%= @post.title %>
</p>

<p>
  <b><%= t('blog.post.content') %>:</b>
  <%= @post.content %>
</p>

<p>
  <b>Tags:</b>
  <%= join_tags(@post) %>
</p>

<h2><%= t('blog.post.comments') %></h2>
<%= render @post.comments %>

<h2><%= t('blog.post.comment.add') %>:</h2>
<%= render "comments/form" %>

<%= link_to t('nav.edit'), edit_post_path(@post) %> |
<%= link_to t('nav.back'), posts_path %>
